.quiz-container {
    min-width: 350px;
    max-width: 900px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #ffffff; 
    background-image: linear-gradient(to bottom right, #f5f5f5, #e0e0e0); 
    border-radius: 15px; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #333; 
    text-align: center; 
    margin-bottom: 20px;
    font-size: 2rem;
}

.question {
    font-size: 20px; 
    font-weight: bold; 
    margin: 15px 0; 
    padding: 10px; 
    background-color: #e2f0d9; 
    border-radius: 5px;
}

.answer-option {
    margin: 10px 0; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #ffffff; 
    transition: background-color 0.3s;
}

.answer-option input {
    margin-right: 10px;
}

.answer-option:hover {
    background-color: #f1f1f1;
}

button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 12px 24px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    display: block; 
    margin: 20px auto;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

label {
    margin-left: 8px;
}
